.header {
    position: absolute;
    width: 100%;

    .container {
        padding-top: 20px;
        display: flex;
        align-items: center;
    }

    &__menu {
        margin-left: 50px;
        display: flex;
        align-items: center;

        a {
            padding: 18px;
            @extend %bold18;
            transition: all 0.1s ease-out;

            &:hover {
                background: $accentColor3;
            }

            &:active {
                background: $accentColor1;
                color: $white;
            }
        }
    }

    .btn-orderCall {
        margin-left: auto;
        align-self: flex-start;
    }

    .hamburger {
        display: none;
    }

    @media screen and (max-width: $desktopWidth) {
        .container {
            position: relative;
        }

        .hamburger {
            display: block;
            margin-left: 50px;
        }

        &__menu {
            position: absolute;
            width: 100%;
            top: 90px;
            left: 0;
            padding-top: 30px;
            margin-left: 0;

            flex-direction: column;

            transform: translateY(300px);

            visibility: hidden;
            transition: transform 0.5s linear;

            a {
                color: transparent;
                width: 95%;
            }
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .hamburger {
            margin-left: 20px;
        }
    }

    @media screen and (max-width: $smPhoneWidth) {
        .hamburger {
            margin-left: 0;
        }
    }

    &.menu-open {
        background: $accentColor3;

        .header__menu {
            transform: translate(0);
            visibility: visible;
            background: $accentColor3;

            transition: transform 0.3s linear, background-color 0.2s linear 0.1s;

            a {
                transition: color 0.1s linear 0.2s;
                color: $black;
            }
        }

        @media screen and (max-width: $phoneWidth) {
            .header__menu {
                top: 80px;
            }
        }
    }
}