.hamburger-layover {
    display: none;

    @media screen and (max-width: $desktopWidth) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.22);

        &.open {
            display: block;
        }
    }
}

.header {
    position: absolute;
    z-index: 2;
    width: 100%;

    .container {
        padding-top: 20px;
        display: flex;
        align-items: center;
    }

    &__menu {
        margin-left: 50px;
        display: flex;
        align-items: center;

        button {
            padding: 18px;
            @extend %bold18;
            transition: all 0.1s ease-out;

            &:hover {
                background: $accentColor3;
            }

            &:active {
                background: $accentColor1;
                color: $white;
            }
        }
    }

    .icon-logo {
        padding: 4px 8px;
        margin-left: -8px;

        &::before {
            @media screen and (max-width: $desktopWidth) {
                font-size: 65px;
            }

            @media screen and (max-width: $phoneWidth) {
                font-size: 45px;
            }
        }
    }

    .btn-orderCall {
        margin-left: auto;
        align-self: flex-start;
        display: inline-block;
    }

    .hamburger {
        display: none;
    }

    @media screen and (max-width: $desktopWidth) {
        .container {
            position: relative;
        }

        .hamburger {
            display: block;
            margin-left: 50px;
        }

        &__menu {
            position: absolute;
            width: 100%;
            top: 90px;
            left: 0;
            padding-bottom: 30px;
            margin-left: 0;

            flex-direction: column;

            transform: translateY(40px);

            visibility: hidden;
            transition: transform 0.5s linear;

            button {
                color: transparent;
                width: 95%;
            }
        }

        &.menu-open {
            background: $accentColor3;

            .header__menu {
                transform: translate(0);
                visibility: visible;
                background: $accentColor3;
                transition: transform 0.2s ease-in, background-color 0.15s ease-in;

                button {
                    color: $black;

                    &:active {
                        color: $white;
                    }
                }
            }

            @media screen and (max-width: $phoneWidth) {
                .header__menu {
                    top: 72px;
                    padding-bottom: 10px;
                }
            }
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .hamburger {
            margin-left: 20px;
        }
    }

    @media screen and (max-width: $smPhoneWidth) {
        .hamburger {
            margin-left: 0;
        }

        .btn-orderCall {

            b,
            a:first-of-type,
            button {
                display: none;
            }

            a {
                border-radius: 5px;
            }
        }
    }
}