.header {

    .container {
        height: 113px;
        padding-top: 20px;

        display: flex;
        align-items: center;
    }

    &__logo {
        padding: 4px 8px;
        margin-right: 50px;
        margin-left: -8px;
        font-size: 85px;
        color: $accentColor1;
    }

    &__menu {
        display: flex;
        align-items: center;

        a {
            padding: 18px;

            @extend %fontBold;
            font-size: 18px;
            color: $black;

            transition: all 0.1s linear;

            &:hover {
                background: $accentColor3;
            }
        }
    }

    &__phone {
        margin-left: auto;
        align-self: flex-start;

        a {
            display: block;
            width: auto;
            padding: 4px 8px;

            span {
                @extend %fontRegular;
                font-size: 28px;
                color: $black;
            }

            div {
                @extend %fontBold;
                color: $accentColor1;
                text-align: right;
                line-height: 2.3;
            }
        }
    }

    .hamburger {
        display: none;
    }

    @media screen and (max-width: $desktopWidth) {
        position: relative;

        .hamburger {
            display: block;
            margin: 0 30px 0 80px;
            padding-top: 20px;
        }

        &__menu {
            position: absolute;
            width: 100%;
            top: 113px;
            left: 0;

            flex-direction: column;

            display: none;

            a {
                width: 95%;
            }
        }
    }
}