.intro {
    height: 842px;
    padding-top: 145px;
    background: no-repeat bottom center/cover url(../images/svg/curve.svg);

    .container {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    h1 {
        margin-top: 75px;
        @extend %bold54;
    }

    p {
        margin-top: 35px;
        @extend %regular26;
    }

    button {
        margin-top: 80px;
        padding: 18px 30px;
    }

    &__image {
        width: 650px;
        position: relative;

        div {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }

    &__imageFrame1 {
        background: no-repeat center/contain url(../../assets/images/background/introFrame1.webp);
    }

    &__imageFrame2 {
        background: no-repeat center/contain url(../../assets/images/background/introFrame2.webp);
    }

    &__imageFrame3 {
        background: no-repeat center/contain url(../../assets/images/background/introFrame3.webp);
    }

    &__imageFrame4 {
        background: no-repeat center/contain url(../../assets/images/background/introFrame4.webp);
    }

    @media screen and (max-width: $desktopWidth) {
        max-height: 100vh;
        min-height: 700px;
        padding-top: 115px;
        background-position: bottom 50px center;

        button {
            margin-top: 65px;
        }

        &__image {
            width: 500px;
        }
    }

    @media screen and (max-width: $tabletWidth) {
        &__image {
            display: none;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        background-position: bottom 100px center;

        button {
            padding: 18px 15px;
        }
    }
}