.intro {
    height: 842px;
    padding-top: 145px;

    background: no-repeat center/cover url(../images/svg/curve.svg);

    .container {
        display: flex;
    }

    h1 {
        margin-top: 75px;

        @extend %fontBold;
        font-size: 54px;
        line-height: 1.1;
    }

    p {
        margin-top: 35px;
        font-size: 26px;
    }

    button {
        margin-top: 80px;
        padding: 18px 30px;
    }

    &__image {
        margin-left: auto;
        padding-left: 20px;
        max-width: 650px;
        width: 0;
        flex-grow: 1;
        align-self: center;
    }

    @media screen and (max-width: $desktopWidth) {
        max-height: 100vh;
        min-height: 750px;
        padding-top: 115px;

        h1 {
            font-size: 48px;
        }

        p {
            font-size: 20px;
        }

        button {
            margin-top: 65px;
            font-size: 18px;
        }
    }

    @media screen and (max-width: $tabletWidth) {
        &__image {
            display: none;
        }
    }
}