.numerals {
    margin-top: 100px;

    &__wrapper {
        margin: 0 auto;
        max-width: 1100px;

        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(4, 230px);
    }

    h2 {
        text-align: center;
        @extend %bold57;
    }

    p {
        text-align: center;
        margin-top: 10px;
        @extend %regular20;
    }

    @media screen and (max-width: $desktopWidth) {
        &__wrapper {
            max-width: 900px;
            grid-template-columns: repeat(4, 200px);
        }
    }

    @media screen and (max-width: $tabletWidth) {
        margin-top: 80px;

        &__wrapper {
            grid-template: repeat(2, auto) / repeat(2, 330px);
            gap: 30px;

            div {
                background: $accentColor3;
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 5px;
            }
        }
    }

    @media screen and (max-width: $phoneWidth) {
        margin-top: 60px;

        &__wrapper {
            grid-template: repeat(4, 1fr) / 1fr;
            gap: 20px;

            div {
                padding: 15px;
            }
        }
    }
}