// catalog{
//         catalog__title{...}
//
//          department{   ! -------------------------> sub-blocks
//                     card{...}  ! -----------------> sub-blocks
//                     }
//         }

.catalog {
    margin-top: 130px;

    &__header {
        display: grid;
        grid-template-columns: repeat(2, auto);

        p {
            max-width: 650px;
            padding-top: 100px;
            padding-left: 15px;

            @extend %regular20;
            line-height: 1.7;
        }
    }

    &__title {
        width: 640px;
        height: 360px;

        transform: translateX(-130px);

        padding: 100px 0 0 110px;
        @extend %mavka70;

        background: no-repeat left 0 top 0/contain url(../images/background/catalogTitle.webp);

        div {
            transform: rotate(-10deg);

            &:last-child {
                margin-left: 80px;
            }
        }
    }

    @media screen and (max-width: 1600px) {
        &__title {
            width: 550px;
            height: 310px;

            transform: unset;
            padding: 80px 0 0 80px;
        }

        &__header p {
            max-width: 560px;
        }
    }

    @media screen and (max-width: $desktopWidth) {
        &__title {
            background: none;
            height: auto;
            width: auto;
            padding: 0;

            div {
                transform: rotate(-5deg);
            }
        }

        &__header p {
            padding: 0 0 0 40px;
        }
    }

    @media screen and (max-width: $tabletWidth) {
        &__header {
            grid-template: 140px auto/ 1fr;

            p {
                justify-self: end;
                max-width: 650px;
                padding: 20px 0 0;
            }
        }
    }

    @media screen and (max-width: $phoneWidth) {
        &__header {
            grid-template: auto auto / 1fr;
        }

        &__title {
            div {
                display: inline-block;
                transform: none;

                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}