// catalog{
//         catalog__title{...}
//
//          department{   ! -------------------------> sub-blocks
//                     card{...}  ! -----------------> sub-blocks
//                     }
//         }

.catalog {
    margin-top: 130px;

    &__header {
        position: relative;

        p {
            max-width: 630px;
            margin-left: auto;
            padding-top: 100px;

            font-size: 20px;
            line-height: 1.7;
        }
    }

    &__title {
        width: 640px;
        height: 370px;

        position: absolute;
        left: -12%;

        padding: 100px 0 0 120px;
        @extend %mavka70;
        background: no-repeat center/100% url(../images/background/catalogTitle.png);

        div {
            transform: rotate(-10deg);
        }

        div:last-child {
            margin-left: 80px;
        }
    }

    @media screen and (max-width: $desktopWidth) {
        &__title {
            position: relative;

            left: -135px;
        }

        &__header p {
            max-width: 730px;
            margin-left: auto;
            padding-top: 40px;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        &__title {
            width: 100%;
            height: unset;
            font-size: 55px;
            background: none;
            left: 0;
            padding: 0;

            div {
                display: inline-block;
                transform: none;

                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}