.licence {
    margin-top: 50px;
    background: linear-gradient(to bottom, white 30px, $accentColor3 30px, $accentColor3 395px, white 395px);

    .container {
        height: 425px;
        display: grid;
        grid-template-columns: 550px 1fr;
    }

    h2 {
        padding-top: 90px;
        @extend %bold36;
        line-height: 1.3;
    }

    button {
        margin-top: 45px;
        padding: 15px 40px;
    }

    &__image {
        justify-self: end;
        margin-right: 30px;
        width: 552px;

        height: inherit;
        position: relative;

        svg,
        div {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        img {
            width: auto;
            height: 100%;
            position: relative;
            margin: 0 auto;
            box-shadow: 4px 4px 10px 0 #00000026;
        }

        div {
            background: no-repeat top 90% center/98% url(../images/background/licence.webp);
        }
    }

    @media screen and (max-width: $desktopWidth) {
        background: $accentColor3;

        .container {
            height: 350px;
        }

        div:first-of-type {
            align-self: center;
        }

        h2 {
            padding-top: 0;
        }

        &__image {
            width: 400px;
            justify-self: center;
            margin-right: 0;

            display: flex;
            align-items: center;

            img {
                width: 230px;
                height: auto;
            }

            div {
                background-position: top 65% center;
                background-size: 90%;
            }

            svg {
                display: none;
            }
        }
    }

    @media screen and (max-width: $tabletWidth) {
        .container {
            height: 300px;
            grid-template-columns: 430px 1fr;
            gap: 20px;
        }

        &__image {
            width: 100%;

            img {
                width: 160px;
            }

            div {
                background-position: top 65% center;
                background-size: 100%;
            }
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .container {
            height: unset;
            display: block;
            padding: 30px 15px;
        }

        h2 {
            max-width: 430px;
        }

        &__image {
            display: none;
        }
    }
}