.collaboration {
    margin-top: 100px;

    h2 {
        @extend %bold46;
    }

    &__cards {
        margin-top: 80px;
        max-width: 1220px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 335px);
    }

    &__step {
        @extend %mavka20;
    }

    &__text {
        @extend %regular20;
        line-height: 1.5;
    }

    button {
        margin-top: 28px;
        padding: 15px 20px;
        border-radius: 3px;
        color: $accentColor1;
        font-size: 18px;
        font-weight: 700;
        background-color: #FBE3C9;
    }

    @media screen and (max-width: $desktopWidth) {
        margin-top: 80px;

        &__cards {
            margin: 40px auto 0;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        &__card {
            padding: 25px;
            border-radius: 5px;
            background-color: $accentColor3;

            display: grid;
            grid-template: 100px 1fr / auto auto;
        }

        &__icon {
            margin-top: -10px;
        }

        &__content {
            grid-column: 1 / span 2;
        }

        &__step {
            margin-top: -20px;
            margin-left: -10px;
            font-size: 70px;
            -webkit-text-stroke: 1.5px $accentColor1;
            color: #FBE3C9;
        }

        .icon-colab1,
        .icon-colab2,
        .icon-colab3 {
            line-height: 1;
            font-size: 70px;

            span::after {
                display: none;
            }
        }

        .icon-colab11,
        .icon-colab21,
        .icon-colab31 {
            display: none;
        }
    }

    @media screen and (max-width: $tabletWidth) {
        &__card {
            padding: 15px;
            grid-template: 80px 1fr / auto auto;
        }

        &__icon {
            margin-top: -10px;
        }

        &__step {
            margin-top: -10px;
            font-size: 50px;
        }

        button {
            margin-top: 40px;

            &:after {
                display: none;
            }
        }
    }

    @media screen and (max-width: $phoneWidth) {
        margin-top: 60px;

        &__cards {
            margin: 30px auto 0;
            grid-template: repeat(3, 1fr) / 1fr;
            gap: 15px;
        }

        &__card {
            padding: 15px;
            grid-template: auto 1fr / 45px 1fr;
        }

        .collaboration__icon {
            margin-top: -5px;

            span {
                font-size: 35px;
            }
        }

        &__step {
            margin-top: -3px;
            margin-left: 0px;
            font-size: 25px;
            -webkit-text-stroke: unset;
            color: $accentColor1;
        }

        button {
            margin-top: 10px;
            display: block;
            margin-left: auto;

            &:after {
                display: none;
            }
        }
    }
}