.collaboration {
    margin-top: 100px;

    h2 {
        @extend %bold46;
    }

    &__cards {
        margin-top: 80px;
        max-width: 1220px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 335px);
    }

    &__step {
        @extend %mavka20;
    }

    &__text {
        @extend %regular20;
        line-height: 1.5;
    }

    button {
        margin-top: 28px;
        padding: 15px 20px;

        color: $accentColor1;
        font-size: 18px;
        font-weight: 700;

        background-color: #FBE3C9;
    }

    @media screen and (max-width: $desktopWidth) {
        &__cards {
            margin: 80px auto 0;
            max-width: 710px;
            grid-template-columns: 1fr;
            gap: 30px;
        }

        &__card {
            padding: 25px;
            border-radius: 5px;
            background-color: $accentColor3;

            display: grid;
            grid-template: repeat(2, auto) / 100px auto;
        }

        &__icon {
            grid-area: 2 / 1 / -1 / 2;
        }

        &__content {
            grid-area: 1 / 2 / -1 / -1;
        }

        .icon-colab1,
        .icon-colab2,
        .icon-colab3 {
            line-height: 1;
            font-size: 70px;

            span::after {
                display: none;
            }
        }

        .icon-colab11,
        .icon-colab21,
        .icon-colab31 {
            display: none;
        }

        button {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: $smPhoneWidth) {
        &__card {
            padding: 15px;

            grid-template: repeat(2, auto) / 50px auto;
        }

        .icon-colab1,
        .icon-colab2,
        .icon-colab3 {
            font-size: 40px;
        }
    }
}