.collaboration {
    margin-top: 100px;

    h2 {
        @extend %bold46;
    }

    &__cards {
        margin-top: 80px;
        max-width: 1220px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 335px);
    }

    &__step {
        @extend %mavka20;
    }

    &__text {
        font-size: 20px;
    }

    button {
        margin-top: 28px;
        padding: 15px 20px;

        color: $accentColor1;
        font-size: 18px;
        font-weight: 700;

        background-color: #FBE3C9;
    }

    @media screen and (max-width: $desktopWidth) {
        &__cards {
            margin: 80px auto 0;
            max-width: 750px;
            grid-template-columns: 1fr;
        }

        &__card {
            height: 170px;
            padding: 25px;
            margin-bottom: 30px;
            border-radius: 5px;
            background-color: $accentColor3;
        }

        .icon-colab1,
        .icon-colab2,
        .icon-colab3 {
            float: right;
            margin-top: -45px;
            margin-right: -20px;
            font-size: 110px;

            span::after {
                display: none;
            }
        }

        .icon-colab11,
        .icon-colab21,
        .icon-colab31 {
            display: none;
        }

        &__step,
        &__text {
            display: inline-block;
        }

        &__step {
            margin-right: 30px;
            vertical-align: top;
        }

        &__text {
            max-width: 500px;
        }

        button {
            display: block;
            margin-top: 10px;
            margin-left: 55px;
        }
    }
}