.assurance {
    margin-top: 100px;
    padding: 100px 0 80px;

    background-color: $accentColor3;

    &__cards {
        margin-top: 40px;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3, minmax(auto, 420px));
        grid-gap: 20px;
    }

    &__card {
        padding: 80px 0 100px;
        position: relative;
        z-index: 1;
    }

    svg {
        width: 110%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    h2 {
        @extend %bold46;
        text-align: center;
        margin: 0 auto;
    }

    &__image {
        margin: 0 auto;
        width: 245px;
        height: 115px;

        text-align: center;
        background: no-repeat center/contain url(../images/background/assurance.png);
    }

    b {
        display: block;
        margin-top: 15px;
        text-align: center;
        @extend %bold26;
    }

    p {
        max-width: 320px;
        margin: 25px auto 0;

        @extend %bold18;
        color: $text;
        text-align: center;
    }

    @media screen and (max-width: $desktopWidth) {
        &__cards {
            max-width: 710px;
            margin: 40px auto 0;
            grid-template-columns: 1fr;
        }

        &__card {
            align-items: start;
            padding: 25px;

            border-radius: 5px;
            background-image: none;
            background-color: $white;
        }

        svg {
            display: none;
        }

        &__image {
            background-image: none;
            float: left;
            width: auto;
            font-size: 70px;
        }

        b {
            margin: 20px 0 0 100px;
            text-align: left;
        }

        p {
            margin: 15px 0 0 100px;
            text-align: left;
            max-width: unset;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        &__card {
            padding: 15px;
        }

        &__image {
            font-size: 40px;
        }

        b {
            margin: 10px 0 0 60px;
        }

        p {
            margin: 15px 0 0 60px;
        }
    }
}