.assurance {
    margin-top: 100px;
    padding: 100px 0 80px;

    background-color: $accentColor3;

    &__cards {
        margin-top: 40px;

        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3, minmax(300px, 420px));
        grid-gap: 20px;
    }

    &__card {
        padding: 210px 0 100px;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-position: top 100px center, center;
        background-size: 246px, contain;
        background-repeat: no-repeat;

        &:nth-of-type(1) {
            background-image: url(../images/background/assurance1.png), url(../images/svg/assurance1.svg);
        }

        &:nth-of-type(2) {
            background-image: url(../images/background/assurance2.png), url(../images/svg/assurance2.svg);
        }

        &:nth-of-type(3) {
            background-image: url(../images/background/assurance3.png), url(../images/svg/assurance3.svg);
        }
    }

    h2 {
        @extend %bold46;
        text-align: center;
        margin: 0 auto;
    }

    b {
        flex-grow: 1;
        display: block;
        text-align: center;
        @extend %bold26;
    }

    p {
        max-width: 320px;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }

    @media screen and (max-width: $desktopWidth) {
        &__cards {
            grid-template-columns: repeat(3, 300px);
        }

        &__card {
            padding: 160px 0 80px;

            background-position: top 75px center, center;
            background-size: 190px, contain;
        }

        b {
            font-size: 22px;
        }

        p {
            margin-top: 5px;
            font-size: 16px;
        }
    }

    @media screen and (max-width: $tabletWidth) {
        &__cards {
            grid-template-columns: 1fr;
        }

        &__card {
            align-items: start;
            padding: 120px 20px 20px 110px;

            background-color: $white;

            background-position: top 20px left 20px;
            background-size: 190px;
            background-repeat: no-repeat;

            &:nth-of-type(1) {
                background-image: url(../images/background/assurance1.png);
            }

            &:nth-of-type(2) {
                background-image: url(../images/background/assurance2.png);
            }

            &:nth-of-type(3) {
                background-image: url(../images/background/assurance3.png);
            }
        }

        b {
            font-size: 22px;
            text-align: left;
        }

        p {
            text-align: left;
            max-width: 600px;
        }
    }
}