.benefits {
    margin-top: 100px;

    h2 {
        @extend %bold46;
        max-width: 450px;
    }

    &__cards {
        margin-top: 80px;
        max-width: 1240px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        justify-content: space-between;
        grid-row-gap: 100px;
    }

    span {
        line-height: 1.4;
    }

    p {
        @extend %regular20;
        line-height: 1.5;
    }

    @media screen and (max-width: $desktopWidth) {
        margin-top: 80px;

        &__cards {
            margin: 50px auto 0;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 40px;
            grid-column-gap: 30px;
        }

        &__card {
            padding: 25px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            background-color: $accentColor3;
        }

        span {
            line-height: 1;

            span {
                display: none;
            }
        }

        p {
            margin-left: 10px;
        }
    }

    @media screen and (max-width: $tabletWidth) {
        &__cards {
            grid-row-gap: 30px;
            grid-column-gap: 20px;
        }

        &__card {
            padding: 15px;
            align-items: flex-start;
        }

        span {
            font-size: 60px;
            margin-top: -8px;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        margin-top: 60px;

        &__cards {
            margin-top: 30px;
            grid-row-gap: 20px;
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr;
        }

        &__card {
            align-items: center;
        }

        span {
            font-size: 70px;
            margin-top: 0;
        }
    }

    @media screen and (max-width: $smPhoneWidth) {
        &__card {
            flex-direction: column;
        }

        p {
            max-width: unset;
            margin: -5px 0 0;
        }

        span {
            font-size: 80px;
        }
    }
}