.formCollab {
    margin-top: 100px;

    .container {
        display: grid;
        grid-template-columns: 1fr 600px;
        justify-content: space-between;
    }

    &__image {
        margin-left: -80px;
        position: relative;

        div {
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }

    &__imageFrame1 {
        background: no-repeat bottom left/contain url(../../assets/images/svg/formColabFrame1.svg);
    }

    &__imageFrame2 {
        background: no-repeat bottom left/contain url(../../assets/images/background/collaborationFrame1.png);
    }

    &__imageFrame3 {
        background: no-repeat bottom left/contain url(../../assets/images/background/collaborationFrame2.png);
    }

    &__imageFrame4 {
        background: no-repeat bottom left/contain url(../../assets/images/svg/formColabFrame4.svg);
    }

    &__col {
        margin-top: 165px;
        padding-bottom: 75px;
    }

    h2 {
        @extend %mavka36;
    }

    &__promo {
        margin-top: 20px;
        line-height: 1.3;
        @extend %bold36;

        span {
            color: $accentColor2
        }
    }

    form {
        margin-top: 55px;
        max-width: 435px;
        display: flex;
        flex-direction: column;

        input {
            padding: 19px 14px;

            border-radius: 3px;
            outline: 1px solid #DDD8D1;

            font-family: 'Bellotta Text', sans-serif;
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            color: $black;

            &::placeholder {
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                color: $textDimmed
            }
        }

        input[type=tel] {
            margin-top: 26px;
        }

        .btn-solid {
            margin-top: 40px;
            padding: 20px
        }
    }

    &__consent {
        margin-top: 20px;
        font-size: 14px;
        color: $textDimmed
    }

    @media screen and (max-width: 1500px) {
        .container {
            grid-column-gap: 50px;
        }

        &__image {
            margin-left: 0;


            div {
                background-position: center;
            }
        }
    }

    @media screen and (max-width: $desktopWidth) {
        .container {
            display: grid;
            grid-template-columns: 1fr 435px;
            justify-content: space-between;
        }

        &__col {
            margin-top: 0;
            padding-bottom: 0;
        }
    }

    @media screen and (max-width: $tabletWidth) {
        .container {
            grid-template-columns: 1fr;
        }

        &__image {
            display: none;
        }

        form {
            margin: 55px auto 0;
        }
    }
}