.formCollab {
    margin-top: 100px;

    .container {
        display: grid;
        grid-template-columns: 600px 600px;
        justify-content: space-between;
        align-items: center;
    }

    &__image {
        margin-left: -80px;
    }

    h2 {
        margin-top: 100px;
        @extend %mavka36;
    }

    &__promo {
        margin-top: 10px;
        @extend %bold36;

        span {
            color: $accentColor2
        }
    }

    form {
        margin-top: 50px;
        max-width: 435px;
        display: flex;
        flex-direction: column;

        input {
            padding: 21px 14px;




            border-radius: 3px;
            outline: 1px solid #DDD8D1;

            font-family: 'Bellotta Text', sans-serif;
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            color: $black;

            &::placeholder {
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                color: $textDimmed
            }
        }

        input[type=tel] {
            margin-top: 26px;
        }

        .btn-solid {
            margin-top: 40px;
            padding: 20px
        }
    }

    &__consent {
        margin-top: 20px;
        font-size: 14px;
        color: $textDimmed
    }

    @media screen and (max-width: 1500px) {
        .container {
            grid-template-columns: 490px 600px;
            grid-column-gap: 50px;
            justify-content: center;
        }

        &__image {
            margin-left: 0;
        }
    }

    @media screen and (max-width: $desktopWidth) {
        .container {
            grid-template-columns: 430px 480px;
            grid-column-gap: 20px;
        }
    }

    @media screen and (max-width: $tabletWidth) {
        .container {
            grid-template-columns: 1fr;
        }

        &__image {
            display: none;
        }
    }
}