.partners {
    margin-top: 100px;
    overflow: hidden;

    h2 {
        margin-bottom: 100px;
        @extend %bold46;
        text-align: center;
        max-width: unset;
    }

    .btn-solid {
        display: flex;
        margin: 110px auto 0;
        padding: 20px 40px;
    }

    &__row {
        display: flex;
        animation: partnersGlider 15s linear infinite alternate both;

        @keyframes partnersGlider {
            from {
                transform: translateX(-800px);
            }

            to {
                transform: translateX(0px);
            }
        }

        span {
            font-size: 70px;
            line-height: 70px;
        }

        span:not(:last-of-type) {
            margin-right: 100px;
        }

        img {
            height: 70px;
            width: auto;
            margin-right: 100px;
            user-select: none;
        }
    }

    &__row_lower {
        animation-direction: alternate-reverse;
        margin-top: 125px;
    }

    @media screen and (max-width: $desktopWidth) {
        margin-top: 80px;

        h2 {
            margin-bottom: 80px;
        }

        .btn-solid {
            margin: 90px auto 0;
        }

        &__row_lower {
            margin-top: 70px;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        margin-top: 60px;

        h2 {
            margin-bottom: 40px;
        }

        .btn-solid {
            margin: 50px auto 0;
        }

        &__row {
            span {
                font-size: 45px;
                line-height: 45px;
            }

            span:not(:last-of-type) {
                margin-right: 50px;
            }

            img {
                height: 45px;
                margin-right: 50px;
            }
        }

        &__row_lower {
            margin-top: 30px;
        }
    }
}