.faq {
    margin-top: 150px;

    .container {
        display: grid;
        grid-template: auto 1fr / 1fr 700px;
        place-items: start;
    }

    h2 {
        @extend %bold46;
        padding-bottom: 50px;
    }

    .btn-solid {
        margin-top: 50px;
        padding: 20px 40px;
    }

    &__accordion {
        grid-area: 1 / 2 / -1 / -1;
        border-top: 1px solid #EEDFCD;
    }

    li {
        border-bottom: 1px solid #EEDFCD;

        &.open {
            p {
                height: 90px;
                visibility: visible;
            }
        }
    }

    b {
        margin: 34px 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @extend %bold24;
        color: $accentColor2;
    }

    .icon-cross {
        margin-left: 90px;
        transform: rotateZ(45deg);
        margin-right: 20px;
    }

    p {
        margin: 0 80px 0 30px;

        height: 0;
        padding: 0;
        visibility: hidden;

        @extend %bold20;
        line-height: 1.4;
    }

    @media screen and (max-width: $desktopWidth) {
        .container {
            grid-template: 1fr auto auto / 1fr;
        }

        &__accordion {
            grid-area: unset;
        }
    }
}