.faq {
    margin-top: 150px;

    .container {
        display: grid;
        grid-template: auto 1fr / 1fr 670px;
        column-gap: 30px;
        place-items: start;
    }

    h2 {
        @extend %bold46;
        padding-bottom: 50px;
    }

    .btn-solid {
        margin-top: 50px;
        padding: 20px 40px;
    }

    &__accordion {
        grid-area: 1 / 2 / -1 / -1;
        border-top: 1px solid #EEDFCD;
    }

    li {
        border-bottom: 1px solid #EEDFCD;
        cursor: pointer;
        @extend %no-select;

        button {
            margin: 17px 0 17px -15px;
            padding: 17px 15px;
            width: calc(100% + 30px);

            display: flex;
            align-items: center;
            justify-content: space-between;

            text-align: left;
            @extend %bold24;
            user-select: none;
        }

        &.open {
            cursor: default;

            button {
                color: $accentColor2;
            }

            p {
                height: var(--i);
            }

            .icon-cross::before {
                transform: rotate(0deg);
                transition: transform 0.15s linear 0.1s;
            }
        }
    }

    .icon-cross {
        margin-left: 50px;
        margin-right: 4px;

        &::before {
            display: block;
            transform: rotateZ(45deg);
        }
    }

    p {
        margin: 0 80px 0 30px;

        overflow: hidden;
        height: 0;

        transition: height 0.2s, opacity 0.1s linear 0.1s, padding 0.2s;

        @extend %bold20;
        line-height: 1.4;
    }

    @media screen and (max-width: $desktopWidth) {
        margin-top: 110px;

        .container {
            grid-template: auto 1fr / 350px 1fr;
        }
    }

    @media screen and (max-width: $tabletWidth) {
        .container {
            grid-template: 1fr auto auto / 1fr;
        }

        h2 {
            padding-bottom: 30px;
        }

        .btn-solid {
            margin-top: 40px;
        }

        &__accordion {
            grid-area: unset;
        }

        .icon-cross {
            margin-left: 40px;
        }

        p {
            margin: 0 45px 0 0;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        margin-top: 80px;

        .btn-solid {
            margin-top: 30px;
        }
    }
}