.footer {
    .container {
        padding: 40px 30px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-row-gap: 10px;

        position: relative;
    }

    .icon-button-up {
        position: absolute;
        top: -30px;
        right: -90px;
    }

    .icon-logo {
        place-self: start;
    }

    .btn-orderCall {
        place-self: start end;

        p {
            font-size: 18px;
            color: $accentColor2;
        }
    }

    &__copyrights {
        place-self: end start;
        margin-top: 20px;

        font-size: 14px;
        color: $textDimmed;
    }

    &__socials {
        place-self: start end;

        a:nth-of-type(2) {
            margin: 0 24px;
        }
    }

    @media screen and (max-width: 1900px) {
        .icon-button-up {
            top: -200px;
            right: 30px;
        }
    }

    @media screen and (max-width: $desktopWidth) {
        .icon-button-up {
            display: none;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .container {
            grid-template-columns: 1fr;
            padding: 20px 15px;
        }

        &__copyrights {
            order: 1;
        }

        &__socials,
        .btn-orderCall {
            place-self: start;
        }

        .btn-orderCall {
            margin: 20px 0;
        }

        .btn-orderCall p {
            text-align: left;
        }
    }
}