$white: #FFFFFF;
$black: #000000;

$text: #373534;
$textDimmed: #998E88;

$accentColor1: #3521C1;
$accentColor2: #E3A156;
$accentColor3: #FAF6EF;

// breakpoints
$desktopWidth : 1279.98px;
$tabletWidth : 991.98px;
$phoneWidth : 767.98px;
$smPhoneWidth : 575.98px;

%no-select {
    // ---------------------------------------------------------------- no select
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

%btn-reset {
    @extend %no-select;
    // ---------------------------------------------------------------- reset buttons
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    text-decoration: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-family: inherit;

    &::-moz-focus-inner {
        border: none;
    }

    &:focus-visible {
        border-radius: 5px;
        box-shadow: 0 0 0 2px $textDimmed;
    }
}

// ---------------------------------------------------------------- FONTS bold
%bold18 {
    font-size: 18px;
    font-weight: 700;
    color: $black;

    @media screen and (max-width: $phoneWidth) {
        font-size: 16px;
    }
}

%bold20 {
    font-size: 20px;
    font-weight: 700;
    color: $text;

    @media screen and (max-width: $desktopWidth) {
        font-size: 18px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 16px;
    }
}

%bold22 {
    font-size: 22px;
    font-weight: 700;
    color: $black;

    @media screen and (max-width: $desktopWidth) {
        font-size: 20px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 18px;
    }
}

%bold24 {
    font-size: 24px;
    font-weight: 700;
    color: $black;

    @media screen and (max-width: $phoneWidth) {
        font-size: 20px;
    }
}

%bold26 {
    font-size: 26px;
    font-weight: 700;
    color: $black;

    @media screen and (max-width: $phoneWidth) {
        font-size: 22px;
    }
}

%bold34 {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.35;
    color: $black;

    @media screen and (max-width: $desktopWidth) {
        font-size: 27px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 22px;
    }
}

%bold36 {
    font-size: 36px;
    font-weight: 700;
    color: $black;

    @media screen and (max-width: $desktopWidth) {
        font-size: 30px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 23px;
    }
}

%bold40 {
    font-size: 40px;
    font-weight: 700;
    color: $black;

    @media screen and (max-width: $desktopWidth) {
        font-size: 34px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 26px;
    }
}

%bold46 {
    font-size: 46px;
    font-weight: 700;
    color: $black;
    max-width: 510px;
    line-height: 1.1;

    @media screen and (max-width: $desktopWidth) {
        font-size: 39px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 30px;
    }
}

%bold54 {
    font-size: 54px;
    font-weight: 700;
    color: $black;
    line-height: 1.1;

    @media screen and (max-width: $desktopWidth) {
        font-size: 48px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 35px;
    }

    @media screen and (max-width: $smPhoneWidth) {
        font-size: 32px;
    }
}

%bold57 {
    font-size: 57px;
    font-weight: 700;
    color: $accentColor1;

    @media screen and (max-width: $desktopWidth) {
        font-size: 38px;
        line-height: 1.1;
    }
}

// ---------------------------------------------------------------- FONTS regular
%regular18 {
    font-size: 18px;
    font-weight: 400;
    color: $textDimmed;

    @media screen and (max-width: $phoneWidth) {
        font-size: 16px;
    }
}

%regular20 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: $text;

    @media screen and (max-width: $desktopWidth) {
        font-size: 18px;
    }
}

%regular26 {
    font-size: 26px;
    font-weight: 400;
    color: $text;

    @media screen and (max-width: $desktopWidth) {
        font-size: 20px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 18px;
    }
}

// ---------------------------------------------------------------- FONTS mavka
%mavka20 {
    font-size: 20px;
    font-family: 'Sweet Mavka Script', sans-serif;
    font-weight: 500;
    color: $accentColor1;
}

%mavka36 {
    font-size: 36px;
    font-family: 'Sweet Mavka Script', sans-serif;
    font-weight: 500;
    color: $accentColor2;

    @media screen and (max-width: $desktopWidth) {
        font-size: 31px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 23px;
    }
}

%mavka70 {
    font-size: 70px;
    font-family: 'Sweet Mavka Script', sans-serif;
    font-weight: 500;
    color: $accentColor2;
    line-height: 0.9;

    @media screen and (max-width: $desktopWidth) {
        font-size: 55px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 45px;
    }
}