@font-face {
    font-family: 'Bellotta Text';
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    //--------------------------------------------------------------------- Bellotta Text
    src: local('Bellotta Text Regular'), local('Bellotta Text'),
        url('../fonts/BellotaText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bellotta Text';
    font-weight: 700;
    font-style: normal;
    font-display: swap;

    //--------------------------------------------------------------------- Bellotta Text
    src: local('Bellotta Text Bold'), local('Bellotta Text'),
        url('../fonts/BellotaText-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sweet Mavka Script';
    font-display: swap;

    //--------------------------------------------------------------------- Sweet Mavka Script
    src: local('Sweet Mavka Script'),
        url('../fonts/Sweet-Mavka-Script.woff') format('woff');
}


@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-display: block;

    //--------------------------------------------------------------------- Icons
    src: url('../fonts/icomoon.woff') format('woff');
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]::after,
[class*=" icon-"]::after {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
    content: "\e900";
    color: $accentColor1;
}

.icon-inSquare:after {
    content: "\e901";
    display: inline-block;
    color: $accentColor1;
    font-size: 20px;
    margin-bottom: 18px;
    margin-left: 2px;
    vertical-align: middle;
}

.icon-btn-plus {

    &::before {
        content: "\e902";
        color: $accentColor2;
        font-size: 38px;
    }

    &::after {
        content: "\e903";
        margin-left: -1em;
        color: $accentColor2;
        font-size: 38px;
    }
}