@font-face {
    font-family: 'Bellotta Text';
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    //--------------------------------------------------------------------- Bellotta Text
    src: local('Bellotta Text Regular'), local('Bellotta Text'),
        url('../fonts/BellotaText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bellotta Text';
    font-weight: 700;
    font-style: normal;
    font-display: swap;

    //--------------------------------------------------------------------- Bellotta Text
    src: local('Bellotta Text Bold'), local('Bellotta Text'),
        url('../fonts/BellotaText-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sweet Mavka Script';
    font-display: swap;

    //--------------------------------------------------------------------- Sweet Mavka Script
    src: local('Sweet Mavka Script'),
        url('../fonts/Sweet-Mavka-Script.woff') format('woff');
}


@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-display: block;

    //--------------------------------------------------------------------- Icons
    src: url('../fonts/icomoon.woff') format('woff');
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]::after,
[class*=" icon-"]::after {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
    content: "\e900";
    color: $accentColor1;
}

.icon-inSquare:after {
    content: "\e901";
    display: inline-block;
    color: $accentColor1;
    font-size: 20px;
    margin-bottom: 18px;
    margin-left: 2px;
    vertical-align: middle;
}

.icon-btn-plus {

    &::before {
        content: "\e902";
        color: $accentColor2;
        font-size: 38px;
    }

    &::after {
        content: "\e903";
        margin-left: -1em;
        color: $accentColor2;
        font-size: 38px;
    }
}

.icon-arrow::after {
    content: "\e904";
    margin-top: 5px;
    margin-left: 22px;
    font-size: 12px;
    color: $accentColor1;
    font-weight: 900;
}

//----------------------------------------colab1
.icon-colab1 {
    font-size: 95px;

    &::before {
        content: "\e905";
        color: rgb(251, 227, 201);
    }

    &::after {
        content: "\e906";
        margin-left: -1em;
        color: rgb(53, 33, 193);
    }

    span::after {
        font-family: 'icomoon';
        content: "\e907";
        margin-left: -1em;
        color: rgb(238, 177, 104);
    }
}

.icon-colab11::before {
    content: "\e908";
    color: #eeb168;
    font-size: 95px;
}

//----------------------------------------colab2
.icon-colab2 {
    font-size: 95px;

    &::before {
        content: "\e909";
        color: #fbe3c9;
    }

    &::after {
        content: "\e90a";
        color: #3521c1;
        margin-left: -1em;
    }

    span::after {
        font-family: 'icomoon';
        content: "\e90b";
        color: #eeb168;
        margin-left: -1em;
    }
}

.icon-colab21:before {
    content: "\e90d";
    color: #eeb168;
    font-size: 95px;
}

//----------------------------------------colab3
.icon-colab3 {
    font-size: 95px;

    &::before {
        content: "\e90c";
        color: #fbe3c9;
    }

    &::after {
        content: "\e90e";
        color: #3521c1;
        margin-left: -1em;
    }

    span::after {
        font-family: 'icomoon';
        content: "\e90f";
        color: #eeb168;
        margin-left: -1em;
    }
}

.icon-colab31:before {
    content: "\e911";
    color: #eeb168;
    font-size: 95px;
}

//----------------------------------------assurance1
.icon-assurance1 {
    font-size: 80px;

    &::before {
        content: "\e910";
        color: #fbe3c9;
    }

    &::after {
        content: "\e912";
        color: #3521c1;
        margin-left: -1em;
    }
}

//----------------------------------------assurance2
.icon-assurance2 {
    font-size: 80px;

    &::before {
        content: "\e913";
        color: #fbe3c9;
    }

    &::after {
        content: "\e914";
        color: #3521c1;
        margin-left: -1em;
    }
}

//----------------------------------------assurance3
.icon-assurance3 {
    font-size: 80px;

    &::before {
        content: "\e915";
        color: #fbe3c9;
    }

    &::after {
        content: "\e916";
        color: #3521c1;
        margin-left: -1em;
    }
}

//----------------------------------------socials
.icon-instagram:before {
    content: "\e917";
    color: #3521c1;
}

.icon-facebook:before {
    content: "\e918";
    color: #3521c1;
}

.icon-vkontakte::before {
    content: "\e919";
    color: #3521c1;
}

//----------------------------------------checked
.icon-checked::before {
    content: "\e91a";
    color: #61c878;
    font-size: 73px;
}

//----------------------------------------map-pin
.icon-map-pin {
    font-size: 98px;

    &::before {
        content: "\e91d";
        color: rgb(53, 33, 193);
    }

    &::after {
        content: "\e91e";
        margin-left: -0.734375em;
        color: rgb(255, 255, 255);
    }
}

//----------------------------------------button-top
.icon-button-top {
    font-size: 60px;

    &::before {
        content: "\e91b";
        color: rgb(53, 33, 193);
    }

    &::after {
        content: "\e91c";
        margin-left: -1em;
        color: #FFFFFF;
    }
}

//----------------------------------------button-left

.icon-button-left {
    font-size: 60px;

    &::before {
        content: "\e923";
        color: rgb(53, 33, 193);
    }

    &::after {
        content: "\e924";
        margin-left: -1em;
        color: #FFFFFF;
    }
}

//----------------------------------------button-right
.icon-button-right {
    font-size: 60px;

    &::before {
        content: "\e925";
        color: rgb(53, 33, 193);
    }

    &::after {
        content: "\e926";
        margin-left: -1em;
        color: #FFFFFF;
    }
}

//----------------------------------------poerekrostok
.icon-perekrostok:before {
    content: "\e91f";
    color: #015929;
    font-size: 64px;
}

//----------------------------------------karusel
.icon-karusel {
    font-size: 64px;

    &:before {
        content: "\e927";
        color: rgb(226, 37, 29);
    }

    &::after {
        content: "\e928";
        margin-left: -3.03125em;
        color: rgb(0, 118, 74);
    }
}

//----------------------------------------seligros
.icon-seligros:before {
    content: "\e929";
    color: #c6031f;
    font-size: 64px;
}

//----------------------------------------magnit
.icon-magnit:before {
    content: "\e95b";
    color: #e30613;
    font-size: 64px;
}

//----------------------------------------piatorochka
.icon-piatorochka {
    font-size: 64px;

    &::before {
        content: "\e920";
        color: #008f32;
    }

    &::after {
        content: "\e921";
        color: #eb2316;
        margin-left: -3.171875em;
    }
}

//----------------------------------------benefits1
.icon-benefits1 {
    font-size: 90px;

    &::before {
        content: "\e946";
        color: rgb(251, 227, 201);
    }

    &::after {
        content: "\e947";
        margin-left: -1em;
        color: rgb(53, 33, 193);
    }

    span::after {
        font-family: 'icomoon';
        font-size: 90px;
        content: "\e948";
        margin-left: -1em;
        color: rgb(238, 177, 104);
    }
}

//----------------------------------------benefits2
.icon-benefits2 {
    font-size: 90px;

    &::before {
        content: "\e943";
        color: rgb(251, 227, 201);
    }

    &::after {
        content: "\e944";
        margin-left: -1em;
        color: rgb(53, 33, 193);
    }

    span::after {
        font-family: 'icomoon';
        font-size: 90px;
        content: "\e945";
        margin-left: -1em;
        color: rgb(238, 177, 104);
    }
}

//----------------------------------------benefits3
.icon-benefits3 {
    font-size: 90px;

    &::before {
        content: "\e940";
        color: rgb(251, 227, 201);
    }

    &::after {
        content: "\e941";
        margin-left: -1.0224609375em;
        color: rgb(53, 33, 193);
    }

    span::after {
        font-family: 'icomoon';
        font-size: 90px;
        content: "\e942";
        margin-left: -1.0224609375em;
        color: rgb(238, 177, 104);
    }
}

//----------------------------------------benefits4
.icon-benefits4 {
    font-size: 90px;

    &::before {
        content: "\e930";
        color: rgb(251, 227, 201);
    }

    &::after {
        content: "\e931";
        color: rgb(53, 33, 193);
        margin-left: -1em;
    }

    span::after {
        font-family: 'icomoon';
        font-size: 90px;
        content: "\e92f";
        color: rgb(238, 177, 104);
        margin-left: -1em;
    }
}

//----------------------------------------benefits5
.icon-benefits5 {
    font-size: 90px;

    &::before {
        content: "\e92a";
        color: rgb(251, 227, 201);
    }

    &::after {
        content: "\e92b";
        color: rgb(53, 33, 193);
        margin-left: -1em;
    }

    span::after {
        content: "\e922";
        font-family: 'icomoon';
        font-size: 90px;
        margin-left: -1em;
        color: rgb(238, 177, 104);
    }
}

//----------------------------------------benefits6
.icon-benefits6 {
    font-size: 90px;

    &::before {
        content: "\e92d";
        color: rgb(251, 227, 201);
    }

    &::after {
        content: "\e92e";
        color: rgb(53, 33, 193);
        margin-left: -1em;
    }

    span::after {
        font-family: 'icomoon';
        font-size: 90px;
        margin-left: -1em;
        content: "\e92c";
        color: rgb(238, 177, 104);
    }
}