html {
    line-height: 1.5;
    font-size: 16px;
    color: $text;
    scroll-behavior: smooth;
}

body {
    font-family: 'Bellotta Text', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    color: $text;

    background-color: $white;
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    @media screen and (max-width: $phoneWidth) {
        font-size: 14px;
    }
}

main {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}

.container,
.containerFluid {
    padding: 0 30px;

    @media screen and (max-width: $phoneWidth) {
        padding: 0 15px;
    }
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.section {
    margin: 160px 0;

    @media screen and (max-width: $desktopWidth) {
        margin: 140px 0;
    }
}