.no-select {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.btn {
    @extend .no-select;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    background: transparent;
    cursor: pointer;

    font-size: 16px;
    color: $accentColor;
}