<footer class="footer">
  <a class="btn-up icon-button-up" href="#intro"></a>
  <div class="container">

    <div class="footer__col">
      <a class="btn-logo icon-logo" href="index.html"></a>

      <div class="footer__copyrights">© 2019 г. Производитель масла сливочного ООО «Лав Продукт»</div>
    </div>

    <div class="footer__col">
      <div class="btn-orderCall">
        <a href="tel:84957874476">
          <span>8 495 787 44 76</span>
          <div>Заказать звонок</div>
        </a>
      </div>

      <div class="footer__socials">
        <a class="icon-facebook" href="https://facebook.com" target="_blank"></a>
        <a class="icon-vkontakte" href="https://facebook.com" target="_blank"></a>
        <a class="icon-instagram" href="https://instagram.com" target="_blank"></a>
      </div>
    </div>

  </div><!-- end container -->
</footer><!-- end footer -->