<footer class="footer">
  <div class="container">
    <button class="icon-button-up"></span></button>

    <div class="icon-logo"></div>

    <div class="btn-orderCall">
      <div>
        <a href="tel:84957874476"><b>8 495 787 44 76</b></a>
        <button type="button" data-call>Заказать звонок</button>
      </div>
    </div>

    <p class="footer__copyrights">© 2019 г. Производитель масла сливочного ООО «Лав Продукт»</p>

    <div class="footer__socials">
      <a class="icon-instagram" href="https://instagram.com" target="_blank"></a>
      <a class="icon-vkontakte" href="https://vkontakte.com" target="_blank"></a>
      <a class="icon-facebook" href="https://facebook.com" target="_blank"></a>
    </div>

  </div><!-- end container -->
</footer><!-- end footer -->