<!-- JS: .menu-open -->
<header class="header">
  <div class="container">

    <a class="header__logo icon-logo" href="index.html"></a>

    <nav class="header__menu">
      <a class="btn" href="#">Каталог продукции</a>
      <a class="btn" href="#">Сотрудничество</a>
      <a class="btn" href="#">Вопрос-ответ</a>
      <a class="btn" href="#">Контакты</a>
    </nav>

    <div class="header__phone">
      <a href="tel:84957874476">
        <span>8 495 787 44 76</span>
        <div>Получить консультацию</div>
      </a>
    </div>

    <!-- JS: .is-active -->
    <button class="hamburger hamburger--3dxy" type="button" aria-label='menu'>
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

  </div><!-- end container -->
</header>