<!-- CSS
================================================== -->
<link rel="stylesheet" href="./assets/css/style.min.css">


<!-- meta tags -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--- tab settings
================================================== -->
<link rel="shortcut icon" href="./assets/images/svg/favicon.svg">
<title>Shampurok</title>