<!-- CSS
================================================== -->
<link rel="stylesheet" href="./assets/css/style.min.css">


<!-- meta tags -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#232126">
<link rel="shortcut icon" href="./assets/images/favicon.svg">
<title>LavProduct</title>
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- scripts -->
<!-- <script defer src="./assets/js/app.js"></script> -->

<!-- SEO : -->
<meta name="description" content='Производитель сливочного масла и спредов' />
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="сливочное масло спреды">
<meta name="Copyright" content="byteofmonkey">
<meta name="Address" content="Татуин, кратер №97">
<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="article">
<meta property="og:title" content="LavProduct">
<meta property="og:description" content="спреды сливочное масло">