<div class="modal" data-modal-commercial>
  <div class="modal__container" data-modal-body>

    <button class="btn-close" data-close>
      <svg width="40" height="40" fill="none">
        <path d="M13.7 27c-.2 0-.3 0-.5-.2a.7.7 0 0 1 0-1l12.6-12.6a.7.7 0 1 1 1 1L14.2 26.8l-.5.2Z M26.3 27c-.2 0-.4 0-.5-.2L13.2 14.2a.7.7 0 0 1 1-1l12.6 12.6a.7.7 0 0 1-.5 1.2Z" fill="CurrentColor" />
      </svg>
    </button>

    <h2>Получить коммерческое предложение</h2>
    <p class="modal__sup-title">Заполните форму и наши менеджеры свяжутся с Вами</p>

    <form>
      <input class="txt" type="text" placeholder="Ваше имя" autocomplete="off" minlength="2" maxlength="24" name="name" required>
      <input class="txt" type="tel" placeholder='Номер телефона' autocomplete="off" minlength="10" name="phone" data-mask required>
      <button class="btn-solid" type="submit">Отправить</button>
      <p class="modal__policy">Нажимая на кнопку, Вы даете согласие на обработку персональных данных</p>
    </form>

  </div>
</div>

<div class="modal" data-modal-partner>
  <div class="modal__container" data-modal-body>

    <button class="btn-close" data-close>
      <svg width="40" height="40" fill="none">
        <path d="M13.7 27c-.2 0-.3 0-.5-.2a.7.7 0 0 1 0-1l12.6-12.6a.7.7 0 1 1 1 1L14.2 26.8l-.5.2Z M26.3 27c-.2 0-.4 0-.5-.2L13.2 14.2a.7.7 0 0 1 1-1l12.6 12.6a.7.7 0 0 1-.5 1.2Z" fill="CurrentColor" />
      </svg>
    </button>

    <h2>Стать партнером</h2>
    <p class="modal__sup-title">Заполните форму и наши менеджеры свяжутся с Вами</p>

    <form>
      <input class="txt" type="text" placeholder="Ваше имя" autocomplete="off" minlength="2" maxlength="24" name="name" required>
      <input class="txt" type="tel" placeholder='Номер телефона' autocomplete="off" minlength="10" name="phone" data-mask required>
      <button class="btn-solid" type="submit">Отправить</button>
      <p class="modal__policy">Нажимая на кнопку, Вы даете согласие на обработку персональных данных</p>
    </form>

  </div>
</div>

<div class="modal" data-modal-question>
  <div class="modal__container" data-modal-body>

    <button class="btn-close" data-close>
      <svg width="40" height="40" fill="none">
        <path d="M13.7 27c-.2 0-.3 0-.5-.2a.7.7 0 0 1 0-1l12.6-12.6a.7.7 0 1 1 1 1L14.2 26.8l-.5.2Z M26.3 27c-.2 0-.4 0-.5-.2L13.2 14.2a.7.7 0 0 1 1-1l12.6 12.6a.7.7 0 0 1-.5 1.2Z" fill="CurrentColor" />
      </svg>
    </button>

    <h2>Задать вопрос</h2>
    <p class="modal__sup-title">Заполните форму и наши менеджеры свяжутся с Вами</p>

    <form>
      <input class="txt" type="text" placeholder="Ваше имя" autocomplete="off" minlength="2" maxlength="24" name="name" required>
      <input class="txt" type="tel" placeholder='Номер телефона' autocomplete="off" minlength="10" name="phone" data-mask required>
      <input class="txt" type="email" placeholder='Ваш e-mail' autocomplete="off" minlength="2" name="email">
      <textarea placeholder='Напишите ваш вопрос' cols="30" rows="10" name="question"></textarea>
      <button class="btn-solid" type="submit">Отправить</button>
      <p class="modal__policy">Нажимая на кнопку, Вы даете согласие на обработку персональных данных</p>
    </form>

  </div>
</div>

<div class="modal" data-modal-call>
  <div class="modal__container" data-modal-body>

    <button class="btn-close" data-close>
      <svg width="40" height="40" fill="none">
        <path d="M13.7 27c-.2 0-.3 0-.5-.2a.7.7 0 0 1 0-1l12.6-12.6a.7.7 0 1 1 1 1L14.2 26.8l-.5.2Z M26.3 27c-.2 0-.4 0-.5-.2L13.2 14.2a.7.7 0 0 1 1-1l12.6 12.6a.7.7 0 0 1-.5 1.2Z" fill="CurrentColor" />
      </svg>
    </button>

    <h2>Оставить заявку</h2>
    <p class="modal__sup-title">Заполните форму и наши менеджеры свяжутся с Вами</p>

    <form>
      <input class="txt" type="text" placeholder="Ваше имя" autocomplete="off" minlength="2" maxlength="24" name="name" required>
      <input class="txt" type="tel" placeholder='Номер телефона' autocomplete="off" minlength="10" name="phone" data-mask required>
      <button class="btn-solid" type="submit">Отправить</button>
      <p class="modal__policy">Нажимая на кнопку, Вы даете согласие на обработку персональных данных</p>
    </form>

  </div>
</div>

<div class="modal" data-modal-thanks>
  <div class="modal__container" data-modal-body>

    <button class="btn-close" data-close>
      <svg width="40" height="40" fill="none">
        <path d="M13.7 27c-.2 0-.3 0-.5-.2a.7.7 0 0 1 0-1l12.6-12.6a.7.7 0 1 1 1 1L14.2 26.8l-.5.2Z M26.3 27c-.2 0-.4 0-.5-.2L13.2 14.2a.7.7 0 0 1 1-1l12.6 12.6a.7.7 0 0 1-.5 1.2Z" fill="CurrentColor" />
      </svg>
    </button>

    <svg class="modal__thanks" width="73" height="73" fill="none">
      <path d="m35.48 47.55 17.95-20.19a3.63 3.63 0 0 0-.3-5.15 3.65 3.65 0 0 0-5.16.3l-15.1 17.01-4.19-4.8a3.65 3.65 0 0 0-5.5 4.8l7.02 8.01c.66.76 1.63 1.2 2.64 1.2h.01c1 0 1.96-.43 2.63-1.18Zm-2.64-1.25c-.31 0-.6-.14-.81-.37l-7.01-8.01a1.21 1.21 0 0 1 .92-2.02c.33 0 .67.14.9.4l5.1 5.86c.22.27.55.42.9.42.38.03.69-.14.92-.4l16.03-18.05c.22-.25.52-.39.84-.4.33-.04.64.08.88.3a1.2 1.2 0 0 1 .1 1.71l-17.95 20.2c-.2.23-.51.3-.82.36Z" fill="#61C878" />
      <path d="M36.5 0A36.54 36.54 0 0 0 0 36.5 36.54 36.54 0 0 0 36.5 73 36.54 36.54 0 0 0 73 36.5 36.54 36.54 0 0 0 36.5 0Zm0 70.57A34.1 34.1 0 0 1 2.43 36.5 34.1 34.1 0 0 1 36.5 2.43 34.1 34.1 0 0 1 70.57 36.5 34.1 34.1 0 0 1 36.5 70.57Z" fill="#61C878" />
      <path d="M25.5 10.78c-.3-.6-1.02-.86-1.63-.57a29.45 29.45 0 0 0-13.34 12.92 1.22 1.22 0 1 0 2.17 1.12A27 27 0 0 1 24.93 12.4c.6-.29.86-1.02.57-1.62Z" fill="#61C878" />
    </svg>

    <h2 class="modal__thanks-title">Спасибо!</h2>
    <p class="modal__thanks-sup-title">Ваша заявка принята</p>
    <p class="modal__thanks-text">В течение рабочего дня наш менеджер свяжется с Вами</p>

  </div>
</div>

<div class="modal" data-modal-error>
  <div class="modal__container modal_error" data-modal-body>

    <button class="btn-close" data-close>
      <svg width="40" height="40" fill="none">
        <path d="M13.7 27c-.2 0-.3 0-.5-.2a.7.7 0 0 1 0-1l12.6-12.6a.7.7 0 1 1 1 1L14.2 26.8l-.5.2Z M26.3 27c-.2 0-.4 0-.5-.2L13.2 14.2a.7.7 0 0 1 1-1l12.6 12.6a.7.7 0 0 1-.5 1.2Z" fill="CurrentColor" />
      </svg>
    </button>

    <p class="modal__thanks-sup-title">Ошибка ...</p>

  </div>
</div>