<section class="product">
  <div class="product__container">
    <div class="product__wrapper">

      <button class="btn-close" type="button">
        <svg fill="none" width="30" height="30" viewBox="0 0 30 30">
          <path d="m16.66 15 13-13A1.17 1.17 0 1 0 28 .34l-13 13-13-13A1.17 1.17 0 1 0 .34 2l13 13-13 13A1.17 1.17 0 0 0 2 29.66l13-13 13 13a1.17 1.17 0 0 0 1.66 0c.45-.46.45-1.2 0-1.66l-13-13Z" fill="CurrentColor" />
        </svg>
      </button>

      <div class="swiper swiperProduct">
        <div class="swiper-wrapper">
          <!-- slides -->
        </div>
      </div>


      <div class="product__buttons-container">
        <div class="swiper swiperProductButtons">
          <div class="swiper-wrapper">
            <!-- pagination -->
          </div>
        </div>

        <div class="product__sliderControls">
          <div class="product-prev btn-circle icon-button-left"></div>
          <div class="product-next btn-circle icon-button-right"></div>
        </div>
      </div>

    </div>
  </div>
</section>