<section class="sertificate">
  <div class="sertificate__container container">
    <div class="sertificate__content">
      <h2>Наши сертификаты и дипломы</h2>
      <p class="sertificate__text">Вся выпускаемая продукция подтверждена и сопровождается полным пакетом документов — сертификатами, декларациями, санитарно эпидемиологическими заключениями. Гарантировать контроль качества в процессе производства, но и быть уверенными в используемом сырье.</p>

      <div class="sertificate__buttons">
        <button class="active" type="button" data-btn-sertificate>Сертификаты</button>
        <button type="button" data-btn-diploma>Дипломы</button>
      </div>
    </div>

    <div class="sertificate__image">
      <svg width="308" height="321" viewBox="0 0 308 321" fill="none">
        <path d="M20 138s-46 83 3 143c49 61 136 54 248-39 106-89-52-217-88-234C93-36 20 138 20 138Z" fill="#FAF5EF" />
      </svg>
      <img src="./assets/images/licence/preview.webp" alt="sertificate">
    </div>

    <button class="btn-close" type="button">
      <svg fill="none" width="30" height="30" viewBox="0 0 30 30">
        <path d="m16.66 15 13-13A1.17 1.17 0 1 0 28 .34l-13 13-13-13A1.17 1.17 0 1 0 .34 2l13 13-13 13A1.17 1.17 0 0 0 2 29.66l13-13 13 13a1.17 1.17 0 0 0 1.66 0c.45-.46.45-1.2 0-1.66l-13-13Z" fill="CurrentColor" />
      </svg>
    </button>

    <div class="sertificate__thumbnail-container">
      <div>

        <div class="sertificate__modal">
          <div class="sertificate__modal-wrapper">
            <div class="sertificate__modal-container">

              <button class="btn-close" type="button">
                <svg fill="none" width="30" height="30" viewBox="0 0 30 30">
                  <path d="m16.66 15 13-13A1.17 1.17 0 1 0 28 .34l-13 13-13-13A1.17 1.17 0 1 0 .34 2l13 13-13 13A1.17 1.17 0 0 0 2 29.66l13-13 13 13a1.17 1.17 0 0 0 1.66 0c.45-.46.45-1.2 0-1.66l-13-13Z" fill="CurrentColor" />
                </svg>
              </button>

              <!-- glide -->
              <div data-glide>
                <div data-glide-el="track">
                  <div class="sertificate__thumbnails">
                    <button type="button">
                      <img src="./assets/images/licence/licence/licence1.webp" width="702px" height="1005px" alt="sertificate">
                    </button>
                    <button type="button">
                      <img src="./assets/images/licence/licence/licence2.webp" width="702px" height="1005px" alt="sertificate">
                    </button>
                    <button type="button">
                      <img src="./assets/images/licence/licence/licence3.webp" width="702px" height="1005px" alt="sertificate">
                    </button>
                    <button type="button">
                      <img src="./assets/images/licence/licence/licence4.webp" width="702px" height="1005px" alt="sertificate">
                    </button>
                  </div>
                </div>

                <div class="glide__arrows" data-glide-el="controls">
                  <button class="glide__arrow glide__arrow--left btn-circle icon-button-left" data-glide-dir="<"></button>
                  <button class="glide__arrow glide__arrow--right btn-circle icon-button-right" data-glide-dir=">"></button>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="sertificate__modal">
          <div class="sertificate__modal-wrapper">
            <div class="sertificate__modal-container">

              <button class="btn-close" type="button">
                <svg fill="none" width="30" height="30" viewBox="0 0 30 30">
                  <path d="m16.66 15 13-13A1.17 1.17 0 1 0 28 .34l-13 13-13-13A1.17 1.17 0 1 0 .34 2l13 13-13 13A1.17 1.17 0 0 0 2 29.66l13-13 13 13a1.17 1.17 0 0 0 1.66 0c.45-.46.45-1.2 0-1.66l-13-13Z" fill="CurrentColor" />
                </svg>
              </button>

              <!-- glide -->
              <div data-glide>
                <div data-glide-el="track">
                  <div class="sertificate__thumbnails">
                    <button type="button">
                      <img src="./assets/images/licence/diploma/diploma1.webp" width="702px" height="1005px" alt="sertificate">
                    </button>
                    <button type="button">
                      <img src="./assets/images/licence/diploma/diploma2.webp" width="702px" height="1005px" alt="sertificate">
                    </button>
                    <button type="button">
                      <img src="./assets/images/licence/diploma/diploma3.webp" width="702px" height="1005px" alt="sertificate">
                    </button>
                    <button type="button">
                      <img src="./assets/images/licence/diploma/diploma4.webp" width="690px" height="996px" alt="sertificate">
                    </button>
                    <button type="button">
                      <img src="./assets/images/licence/diploma/diploma5.webp" width="702px" height="1005px" alt="sertificate">
                    </button>
                  </div>
                </div>

                <div class="glide__arrows" data-glide-el="controls">
                  <button class="glide__arrow glide__arrow--left btn-circle icon-button-left" data-glide-dir="<"></button>
                  <button class="glide__arrow glide__arrow--right btn-circle icon-button-right" data-glide-dir=">"></button>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div><!-- end thumbnail-container -->

  </div>
</section>