.card {
    display: flex;
    flex-direction: column;

    padding: 24px 20px 45px;

    box-shadow: 0 10px 50px 0 #674b2415;
    background: $accentColor3;

    &:hover {
        background: $white;
    }

    label {
        position: relative;
        align-self: flex-end;

        &::after {
            content: 'Подробнее';
            position: absolute;
            right: 20px;
            top: 7px;
            color: $accentColor2;
            visibility: hidden;
            opacity: 0;
            transition: none;
        }

        &:hover::after {
            visibility: visible;
            transform: translateX(-35px);
            opacity: 1;
            transition: transform 0.5s cubic-bezier(.2, .6, 0, .83), opacity 0.3s ease-in;
        }

        a {
            margin-left: auto;
            border-radius: 50%;

            &:hover {
                background-color: $accentColor2;
                transition: background-color 0.4s ease-in-out;
                color: $white;

                &::before {
                    color: $white;
                    transition: color 0.4s ease-in-out 0.1s;
                }
            }
        }
    }

    img {
        padding: 15px 60px 60px;
    }

    h3 {
        @extend %bold24;
        margin-left: 25px;
    }

    &__text {
        margin-top: 10px;
        margin-left: 25px;
        flex-grow: 1;

        @extend %regular18;
        line-height: 1.4;
    }

    &__row {
        display: flex;
        color: $textDimmed;
        margin-top: 25px;
        margin-left: 25px;

        b {
            display: block;
            @extend %bold20;
        }
    }

    &__weight {
        margin-right: 75px;
    }

    @media screen and (max-width: $tabletWidth) {
        padding: 24px 20px 25px;

        img {
            padding: 15px 20px 20px;
        }

        h3 {
            margin-left: 10px;
        }

        &__text {
            margin-left: 10px;
        }

        &__row {
            margin-left: 15px;
        }

        &__weight {
            margin-right: 75px;
        }
    }
}