.product {
    background: $white;
    height: 100vh;
    overflow-y: auto;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;

    &.open {
        display: block;
    }

    &__container {
        max-width: 1920px;
        margin: 0 auto;
    }

    &__wrapper {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    .btn-close {
        padding: 5px;
        position: absolute;
        top: 55px;
        right: 55px;
        z-index: 2;
        color: $textDimmed;

        &:hover {
            color: $accentColor1;
        }
    }

    .product__swipe {
        display: none;
    }

    .swiperProduct {
        overflow: visible !important;

        .swiper-wrapper {
            overflow: visible !important;
        }

        .swiper-slide {
            overflow: visible !important;
            background: white;
        }

        .swiper-slide-visible .product__image:before {
            background-image: linear-gradient($accentColor3 90%, $white 98%);
        }
    }

    &__card {
        display: grid;
        column-gap: 100px;
        grid-template: 1fr / 500px 1fr;
    }

    &__image {
        position: relative;

        &:before {
            content: '';
            display: block;
            height: calc(100% + 130px);
            width: 160%;

            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &__image-img {
        height: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: top 60px center;
        position: relative;
        z-index: 1;
    }

    .product__info {
        padding-bottom: 30px;
    }

    h1 {
        margin-top: 120px;
        @extend %bold34;
    }

    h2 {
        @extend %bold22;
    }

    &__name {
        margin-top: 8px;
        margin-bottom: 15px;
        @extend %regular18;
        color: $text;
    }

    &__package {
        padding: 20px 0;
        margin-bottom: 12px;
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 50px;

        line-height: 1.8;
        border-bottom: 1px solid #ece7e3;

        li:nth-child(odd) {
            @extend %regular18;
        }

        li:nth-child(even) {
            @extend %regular18;
            color: $text;
        }
    }

    &__storage {
        padding-top: 10px;
        padding-bottom: 16px;
        margin-bottom: 16px;
        display: grid;
        grid-auto-flow: column;
        grid-template: repeat(2, auto) / 170px 170px 190px;
        border-bottom: 1px solid #ece7e3;

        li:nth-child(odd) {
            @extend %bold20;
        }

        li:nth-child(even) {
            font-size: 16;
            font-weight: 400;
            color: $textDimmed;
        }
    }

    &__nutrients {
        margin-top: 15px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 140px) auto;

        p {
            font-size: 16;
            font-weight: 400;
            color: $textDimmed;
        }

        b {
            display: block;
            @extend %bold20;
            color: $black;
        }

        div {
            display: flex;
            align-items: center;

            svg {
                margin: 0 5px;
            }
        }
    }

    &__nutrientsButton {
        vertical-align: middle;
    }

    &__controls {
        margin-top: 45px;
    }

    .btn-solid {
        padding: 17px 30px;
    }

    .btn-download {
        margin-left: 45px;
    }

    &__buttons-container {
        position: relative;
    }

    .swiperProductButtons {
        padding-top: 5px;
        padding-bottom: 40px;

        -webkit-mask-image: linear-gradient(90deg, #fff0 110px, #fff 140px, #fff calc(100% - 140px), #fff0 calc(100% - 110px));
        mask-image: linear-gradient(90deg, #fff0 70px, #fff 110px, #fff calc(100% - 110px), #fff0 calc(100% - 70px));

        .swiper-slide {
            width: auto;
            padding: 13px;
            cursor: pointer;

            @extend %bold18;
            @extend %no-select;
            border: 1px solid $accentColor2;
            border-radius: 25px;
            user-select: none;

            &:hover {
                transition: color 0.05s ease-out, background-color 0.05s ease-out;
                color: $accentColor1;
                border-color: $accentColor1;
            }

            &.swiper-slide-thumb-active {
                border-color: $accentColor2;
                background-color: $accentColor2;
                color: $white;
            }
        }
    }

    &__sliderControls {
        padding: 0 50px;
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        display: flex;
        justify-content: space-between;
        align-items: center;

        pointer-events: none;

        .btn-circle {
            @extend %no-select;
            height: auto;
            pointer-events: all;
            line-height: 1;
            height: 60px;
            cursor: pointer;

            &::before,
            &::after {
                line-height: 1;
            }
        }
    }

    @media screen and (max-width: $xxl) {
        &__card {
            column-gap: 0;
            grid-template: 1fr / 400px 1fr;
        }

        &__image:before {
            right: 35px;
            width: 130%;
        }

        &__image-img {
            background-position: top 10px left -40px;
            background-size: 100%;
        }

        h1 {
            margin-top: 65px;
        }

        .btn-download {
            margin-left: 15px;
        }

        .btn-solid {
            padding: 14px 10px;
        }
    }

    @media screen and (max-width: $desktopWidth) {
        .btn-close {
            svg {
                width: 20px;
                height: 20px;
            }

            top: 35px;
            right: 35px;
        }

        &__card {
            grid-template: 1fr / 350px 1fr;
        }

        &__image-img {
            background-position: top -15px left -40px;
        }

        h1 {
            margin-top: 30px;
        }

        &__name {
            margin-top: 0px;
            margin-bottom: 0;
        }

        &__storage {
            grid-template: repeat(2, auto) / 160px 160px 190px;
        }

        &__nutrients {
            grid-template-columns: repeat(3, 130px) auto;
        }

        .swiperProductButtons {
            -webkit-mask-image: linear-gradient(90deg, #fff0 60px, #fff 100px, #fff calc(100% - 100px), #fff0 calc(100% - 60px));
            mask-image: linear-gradient(90deg, #fff0 60px, #fff 100px, #fff calc(100% - 100px), #fff0 calc(100% - 60px));

            .swiper-slide {
                padding: 8px 13px;
            }
        }

        &__sliderControls {
            padding: 0 15px;

            .btn-circle {
                margin-top: 3px;
                height: 45px;
                line-height: 45px;

                &::before,
                &::after {
                    font-size: 45px;
                }
            }
        }
    }

    @media screen and (max-width: $tabletWidth) {
        .btn-close {
            top: 20px;
            right: 20px;
        }

        &__card {
            grid-template: 200px auto / 1fr;
        }

        &__image {
            margin-top: 20px;

            &::before {
                display: none;
            }
        }

        &__image-img {
            background-size: 40%;
            background-position: center;
        }

        &__controls {
            margin-top: 20px;
        }

        &__info {
            max-width: 565px;
            justify-self: center;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        &__card {
            grid-template: 130px auto / 1fr;
        }

        &__container {
            background: none;
        }

        &__wrapper {
            .product__swipe {
                display: block;
                position: absolute;
                z-index: 5;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: $textDimmed;
                width: 120px;

                animation: swipe 0.4s linear forwards 0.6s;

                @keyframes swipe {
                    to {
                        transform: translate(-100%, -50%);
                        opacity: 0;
                    }

                }
            }
        }

        .product__info {
            max-width: 450px;
            padding-bottom: 10px;
        }

        &__image {
            margin-top: 0px;
        }

        &__image-img {
            background-size: auto 120%;
            background-position: center;
        }

        h1 {
            margin-top: 0;
        }

        h1,
        &__name {
            text-align: center;
        }

        &__package {
            margin-bottom: 0;
            border: none;
            padding: 5px 0 10px;
            line-height: 1.2;
            grid-template-columns: 100px 1fr;
            align-items: center;
            column-gap: 30px;
            row-gap: 5px;
        }

        &__storage {
            border-bottom: 0;
            padding: 5px 0 10px;
            margin-bottom: 0;
            align-items: center;
            grid-template: repeat(3, auto) / 130px 1fr;
            grid-auto-flow: row;
            row-gap: 5px;
        }

        &__nutrients {
            margin-top: 0;
            padding: 5px 0 10px;
            grid-auto-flow: row;
            grid-template-columns: 1fr;
            gap: 5px;

            >p b {
                display: inline-block;
                width: 125px;
                color: $black;
            }

            div {
                b {
                    display: inline-block;
                    margin-right: 2px;
                    font-weight: 400;
                    color: $textDimmed;
                }

                svg {
                    margin: 0 5px;
                    height: 23px;
                }
            }
        }

        &__controls {
            margin-top: 0px;
            display: flex;
            flex-direction: column;
        }

        .btn-solid {
            margin: 0 auto;
            padding: 12px 10px;
        }

        .btn-download {
            margin: 10px auto 20px;
            display: block;
            padding: 5px 0;

        }

        &__buttons-container {
            display: none;
        }
    }
}