// Font
$mainFont: 'Montserrat',
sans-serif;
$mainFontSize : 16px;
$mainFontWeight : 400;
$mainLineHeight : 1.5;


// breakpoints
$desktopWidth : 1280px;
$smDesktopWidth : 1024px;
$tableWidth : 768px;
$smTableWidth : 640px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;


$defaultColor : #EBECF5; //white text
$accentColor : #BDA180; // gold
$borderColor: #56575C; // grey border
$dimmedTextColor: #7C7D86; // text
$darkColor: #020202; // quiz
$backgroundColor: #262527; // cards&menu