@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    style: normal;
    font-display: swap;
    src: local('Poppins light'), local('Poppins-light'),
        url('../fonts/Montserrat-light.ttf') format('truetype');
}