html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $defaultColor;
}

body {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    background-color: $backgroundColor;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (max-width: $desktopWidth) {
        font-size: 14px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 12px;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
    margin: 0;
}