h1 {
    font-size: 40px;

    @media screen and (max-width: $smDesktopWidth) {
        margin-bottom: 60px;
        font-size: 30px;
    }
}

h2 {
    font-size: 20px;
    margin-bottom: 80px;

}

h3 {
    font-size: 18px;
}